[submodule "submission-service"]	path = submission-service	url = https://github.com/syedshubairr/Submission-Service[submodule "task-service"]	path = task-service	url = https://github.com/syedshubairr/Task-Service[submodule "Task-User-Service"]	path = Task-User-Service	url = https://github.com/syedshubairr/Task-User-Service